{% extends 'base.html' %}
{% block content %}
<div class="container mt-3">
  <h2>Sensor</h2>
  <div class="card">
    <div class="card-body">
	  <table class="table table-hover">
    <thead>
      <tr>
        <th>번호</th>
        <th>팀명</th>
        <th>IP</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td></td>
        <td>192.168.0.61</td>
      </tr>
      <tr>
        <td>2</td>
        <td></td>
        <td>192.168.0.62</td>
      </tr>
      <tr>
        <td>3</td>
        <td></td>
        <td>192.168.0.63</td>
      </tr>
      <tr>
        <td>4</td>
        <td></td>
        <td>192.168.0.64</td>
      </tr>
      <tr>
        <td>5</td>
        <td></td>
        <td>192.168.0.65</td>
      </tr>
      <tr>
        <td>6</td>
        <td></td>
        <td>192.168.0.66</td>
      </tr>
      <tr>
        <td>7</td>
        <td></td>
        <td>192.168.0.67</td>
      </tr>
      <tr>
        <td>8</td>
        <td></td>
        <td>192.168.0.68</td>
      </tr>
      <tr>
        <td>9</td>
        <td></td>
        <td>192.168.0.69</td>
      </tr>


    </tbody>
  </table>	


    </div>
  </div>
</div>
{% endblock %}